/.env
/praw.ini
/model/*/
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/simple-bot-gpt2.iml
/.idea/vcs.xml
/cache_dir/
/build/*
/simple_bot_gpt2.egg-info/*
/config.ini
praw.ini
training.txt
**/*.pyc
**/__pycache__/*
**/.ipynb_checkpoints/*
**/.idea/*
**/.vscode/*
**/cache_dir/*
**/**/cache_dir/*
/scripts/cache_dir/
/notebooks/.ipynb_checkpoints/
/notebooks/cache_dir/
/notebooks/distilbert-base-uncased-finetuned-squad/
/notebooks/runs/
/notebooks/test-model/
/notebooks/test-squad-trained/
/notebooks/wandb/
/notebooks/eval.txt
/notebooks/train.txt
/models/
/diffusers/
/notebooks/danger_books/
/notebooks/models/
/notebooks/nb_danger_books/apply-missing-data.ipynb
/notebooks/nb_danger_books/fuck-around-find-out.ipynb
/notebooks/nb_danger_books/image-organization.ipynb
/notebooks/nb_danger_books/transer-scratch.ipynb
/notebooks/nb_danger_books/
/notebooks/cache/
/scripts/utility/spark/set_environ.py
/shared_code/utility/spark/set_environ.py
/notebooks/nb_use_cases/image_pipeline/client_secrets.json
/notebooks/image-processing/client_secrets.json
/notebooks/image-processing/setting.yaml
/notebooks/image-processing/scratch.ipynb
